---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AppDemo from '../components/AppDemo.astro';
---

<Layout title="AppFrames - Your app deserves more visibility">
	<Header />
	<main>
		<Hero />
		<AppDemo />
	</main>
</Layout>
