---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AppDemo from '../components/AppDemo.astro';
import BentoGrid from '../components/BentoGrid.astro';
import Features from '../components/Features.astro';
---

<Layout title="AppFrames - Create stunning App Store screenshots">
	<Header />
	<main>
		<Hero />
		<AppDemo />
		<BentoGrid />
		<Features />
	</main>
</Layout>
